
.picture{
    margin-top: 10px;
}

.table{
    border: 2px;
}

.infoBlock
{
    margin-left:150px;

}


body
{
    background-color: #e0e0e0;
    padding-top: 60px;

}
.navbar
{
    color:white;
    vertical-align: middle;
    padding-left: 20%;
    padding-top: 10px;
}
.main_content{
    background: white;

    padding-top: 40px;
}
.block{
    background-color: white;
    padding:3%;
    margin-top: 20px;
    margin-bottom:50px;
    margin-left:30px;
    margin-right:30px;
    width:60%;
    box-shadow:
    0 0 0px white, /*◊Û±ﬂ“ı”∞*/
    4px 0 10px #464646,
    0 0 0px white, /*∂•≤ø“ı”∞*/
    4px 10px 10px #464646; /*µ◊±ﬂ“ı”∞*/
}
.blockRight{
    position:absolute;
    right:0;
    top:0;
    background-color: white;
    padding:3%;
    margin-top: 80px;
    margin-bottom:50px;
    margin-left:30px;
    margin-right:30px;
    width:30%;
    box-shadow:
    0 0 0px white, /*◊Û±ﬂ“ı”∞*/
    4px 0 10px #464646,
    0 0 0px white, /*∂•≤ø“ı”∞*/
    4px 10px 10px #464646; /*µ◊±ﬂ“ı”∞*/
}

.block .content
{
    padding:5%

}
h2,h4,span{
    color:gray;
    font-family:"Microsoft Yahei";
}
h1{
    font-family:"Microsoft Yahei";
}
span2
{
    font-family:"Microsoft Yahei";
}
a{
    text-decoration: underline;
}
.imgContainer
{

    margin-top:10px;
    margin-bottom:10px;
}
.imgContainer2
{
    margin-bottom:50px;
}
li{
    font-weight: bold;
}
.smallPictures
{
    margin-top:50px;
    margin-bottom: 50px;
    width: 150px;
    height:160px;
    border: 1px solid gray;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;

}
.tr-header{
    color: white;
    background-color: #464646;

}
.subbutton
{
    width:300px;
    color: white;
    background-color: blue;
}
.tr-bottom{
    color: black;
    background-color: #a8a8a8;
}
.inputHint
{
    margin-left:30px;
    display: inline-block;
}
.inputContent
{
    margin-left: 30px;
    display: inline-block;
}


aside{

    margin: 5%;
    margin-top: 2%;
}
aside h3
{
    border-left: 3px gray solid;
    line-height: 2em;
    padding-left:10px;
    font-family: "Microsoft Yahei";
    font-weight: 700;
}
aside inputTitle{
    width: 30%;text-align: right;display: inline-block;margin-top: 10px;
}
aside inputHint{
    width:30%;text-align: left;display:inline-block;
    margin-left: 30%;
    padding-left: 5px;
    margin-top: 10px;
}

aside input{
    margin-top: 20px;
}
aside textarea{
    vertical-align: top;width: 30%;
}
aside .inline-word
{
    color:gray;
}
aside button{
    margin-top:30px;
    width:100%;
    height:40px;
    color: white;
    background-color: #4f9fff;
}
